@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --yasil: #069e2d
}
.container{
    width: 1400px !important;
    margin: auto;
}
header{
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: transparent;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 0;
}
#logo img{
    width: 130px;   /* 100px idi, böyütdüm */
    height: auto;   /* nisbət pozulmasın deyə */
    object-fit: contain;
}
.nav-menu ul{
    display: flex;
    gap: 20px;
    align-items: center
}
.nav-menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font: 15px Montserrat;
}
.nav-menu ul li a:hover{
    color: var(--yasil)
}
.nav-right{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav-right a{
    text-decoration: none;
    color: #ffffff;
    font: 13px Montserrat
}
.navphone{
    display: flex;
    align-items: center;
    border:  1px solid #333;
    padding: 0px 7px;
    border-radius:5px;
    background-color:#333
}
.downloadnav{
    background-color: #333;
    /* color: #333 !important; */
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}


.nav-right a i{
    border:  1px solid #333;
    padding: 10px;
    border-radius:5px;
    background-color:#333
}
.nav-right a i:hover{
    color: var(--yasil) !important;
}
.hero__section{
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent 40%),
    linear-gradient(to bottom, rgba(0,0,0,0.6), transparent 40%), url(../img/whiteblackbanner.jpg) center/cover;
    min-height: 100vh;
    position: relative;
}
.hero__section-content{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero__section-left p{
    color: #ffffff;
    width: 100%;
    font: 300 10px Montserrat;
}
.hero__section-left a{
    color: #ffffff;
    text-decoration: none;
    font: 15px Montserrat;
}
.hero__section-left{
    display: flex;
    flex-direction: column;
    gap: 63px;
    width: 13%;
    margin-top: 47px;
}
.hero__section-right-texts {
    display: flex;
    flex-direction: column;
    /* color: #ffffff; */
    align-items: flex-start;
}
.hero__section-right-texts h1,
.hero__section-right-texts h3 {
    background: linear-gradient(to right, silver 0%, #f5f5f5 20%, white 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
}

.hero__section-right-texts h1 {
    font: 900 100px Montserrat;
    
}

.hero__section-right-texts h3 {
    font: 700 40px Montserrat;
}
.hero__section-right{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.greenborder{
    width: 10px;
    height: 148px;
    background: linear-gradient(to bottom, #26d628, #21cc24 , #1db31f, #0e510f);
    margin-top: 24px;
}